.content-with-image-a01 {
    
    &__icon {
        height: 68px;
        width: 68px;        
        z-index: 1;
        font-size: 3rem;
        cursor: pointer;
        
        &:hover {
            opacity: 0.8;
        }
    }       
}

.ratio-279x238 {
    @include media-breakpoint-up(md){
        --bs-aspect-ratio: 68.32%;
    }
    
    @include media-breakpoint-up(lg){
        --bs-aspect-ratio: 59.75%;
    }
}