h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    @extend %heading;    
}

h1,
.h1 {
    font-size: 3.5rem;
    line-height: 1.1428;
    @include media-breakpoint-up(lg) {
        line-height: 1.1454;    
        font-size: 5.5rem;
    }
}

h2,
.h2 {
    font-size: 2.8rem;
    line-height: 1.1428;
    @include media-breakpoint-up(lg) {
        font-size: 4.4rem;
        line-height: 1.15909;
    }
}

h3,
.h3 {
    font-size: 2.4rem;
    line-height:1.167;
    @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
        line-height:1.167;
        
    }
}

h4,
.h4 {
    font-size: 2rem;
    line-height: 1.15;    
    @include media-breakpoint-up(xl) {
        font-size: 2.8rem;
        line-height: 1.1428;
    }
}

h5,
.h5{
    font-size: 1.8rem;
    line-height: 1.11;
    letter-spacing: 0.1em;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        font-size: 2.3rem;
        line-height: 1.2222;
    }
}

h6,
.h6,
.eyebrow {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.1875;
    font-family: 'Inter',serif;
    @include media-breakpoint-up(xl) {
        font-size: 1.8rem;
        line-height: 1.22;        
    }
}


a {
    text-decoration: none;
    @extend .transition-fast;
}

.body {
    &-sm {
        font-size: 1.6rem;
        line-height: 1.5;
        
        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }
    
    &-lg {
        font-size: 2rem;
        line-height: 1.5;
        
        @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
        }
    }
    
    &-xl {
        font-size: 2.3rem;
        line-height: 1.4;
        
        @include media-breakpoint-up(lg) {
            font-size: 2.8rem;
        }
    }
}